.map-container {
  position: relative;
  width: 100%;
  height: auto;
  overflow: auto;
}

.map-image {
  display: block;
  width: 100%;
  height: auto;
}

.map-label {
  position: absolute;
  display: flex;
  width: 44px;
  height: 44px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 21.822px;
  border: 2px solid var(--pink-pink-500, #ec008c);
  background: var(--White, #fff);
  color: var(--pink-pink-500, #ec008c);
  font-family: Nunito;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;

  cursor: pointer;
}
