.map-container {
  position: relative;
  width: 100%;
  height: auto;
  overflow: auto;
}

.map-image {
  display: block;
  width: 100%;
  height: auto;
}

.map-label {
  position: absolute;
  display: flex;
  width: 44px;
  height: 44px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 21.822px;
  border: 2px solid var(--pink-pink-500, #ec008c);
  background: var(--White, #fff);
  color: var(--pink-pink-500, #ec008c);
  font-family: Nunito;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;

  cursor: pointer;
}
.label-description {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px;
  z-index: 10;
  width: 200px;
  text-align: left;
  font-size: 12px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.description-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.description-content p{
  color: var(--gray-gray-500, #666);
/* Nunito/16px/16px: Regular */
font-family: Nunito;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 24px */
}
.description-content strong{
  color: var(--gray-gray-500, #666);
/* Nunito/16px/16px: Regular */
font-family: Nunito;
font-size: 16px;
font-style: normal;
font-weight: 900;
line-height: 150%; /* 24px */
}
.content_icon_arrow svg{
  width: 24px;
  height: 24px;
  background: var(--menu-bg-color, #259E58);
  border-radius: 50%;
  stroke: #fff;

}
.content_icon_arrow svg:hover{
  stroke: #259E58;
  background: #fff;
  border: 1px solid #259E58;
}
.map_line{
  width: 1px;
height: 60px;
background: #C2C2C2;
}
