.service-section {
    padding: 160px 0  72px ;
    text-align: center;
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .service-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 0 auto; 
    justify-items: center; 
  }
  

.section-title {
  font-size: 24px;
  font-weight: bold;
  color: #ff00ff;
  margin-bottom: 20px;
}



.service-card {
    width: 475px;
    height: 514px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  text-align: left;
  transition: transform 0.2s ease-in-out;
}

.service-card:hover {
  transform: scale(1.05);
}

.service-image {
  width: 100%;
  object-fit: cover;
}

.service-title {
  padding: 24px 0 12px;
  text-align: center;
  font-family: "Bangers", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.service-description {
  color: var(--gray-gray-500, #666);
  text-align: center;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  margin: 0 31px 37px 31px;
}
.service-line {
    display: flex;
    justify-content: center; 
    margin: 0 0 16px;
  }
  
  .service-line-center {
    width: 50px; 
    height: 3px;
  }

  .service-section h2{
    color: var(--pink-pink-500, #EC008C);
/* Bangers/50px */
font-family: 'Bangers', sans-serif;
font-size: 50px;
font-style: normal;
font-weight: 400;
line-height: normal;
  }