.card-list {

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  min-height: 450px;
  gap: 20px;
  padding: 100px 0 ;
}

.card {
  background-color: white;
  box-shadow: 0px 2px 22px 0px rgba(0, 0, 0, 0.16);
  overflow: hidden;
  transition: transform 0.2s;
}

/* .card:hover {
    transform: translateY(-5px);
  }
   */
.card-image {
  width: 350px;
  height: 250px;
  object-fit: cover;
}

.card-content {
  padding: 15px;
}

.card-content h3 {
  color: var(--heading-text-color, #259e58);
  /* Nunito/20px/20px: Bold */
  font-family: Nunito;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: 150%; /* 30px */
}

.card-content p {
  overflow: hidden;
  color: var(--gray-gray-500, #666);
  text-overflow: ellipsis;
  white-space: nowrap;
  /* Nunito/16px/16px: Regular */
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}



.card-footer {
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
}

.card-footer-btn a {
  display: inline-flex;
  padding: 10px 8px 10px 12px;
  align-items: center;
  gap: 8px;
  background-color: #00a65a;
  color: white;
  text-decoration: none;
  font-size: 14px;
  border-radius: 8px;
  background: var(--green-green-500, #259e58);
  color: var(--White, #fff);
  text-align: center;
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.card-footer-btn a span {
  display: flex;
  align-items: center;
  padding-left: 8px;
}

.card-footer a:hover {
  background-color: #008d4c;
}

.card-footer-content-sk {
  display: flex;
  align-items: center;
}
.card-footer-content-sk span {
  margin-left: 4px;
}
.card-footer-content-sk span h6 {
  color: var(--Pink, #ec008c);
  /* Nunito/16px/16px: SemiBold */
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 24px */
}
.card-footer-content-sk span p {
  color: var(--gray-gray-500, #666);
  /* Nunito/16px/16px: Regular */
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
