.contact {
  position: absolute;
  left: 90%;
  top: 90%;
  transform: translate(130%, -50%);
}
@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  
  100% {
    transform: rotate(0deg);
  }
}
.icon_phone svg, .icon_mess svg {
  animation: shake 0.75s;
}
.icon_right:hover .icon_phone svg,
.icon_right:hover .icon_mess svg {
    animation: shake 0.75s;
    animation-iteration-count:infinite;}
