.carousel-container {
  position: relative;
  width: 100%;
max-width: 800px;
margin: 0 auto;
}

.main-image {
width: 800px;
height: 532px;
  display: block;
margin:  0 auto ;
}

.caption {
text-align: center;
margin-top: 10px;
color: var(--gray-gray-500, #666);
text-align: center;
/* Nunito/16px/16px: Medium */
font-family: Nunito;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 24px */
}
.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
}
.slick-prev,
.slick-next {
    font-size: 2rem;
z-index: 1;
}
.slick-prev svg {
  position: absolute;
  left: -75px;
}
.slick-next svg{
  position: absolute;
  left: -7px;
  top:-9px;
}
.thumbnail-slider-wrapper {
width: 150%; 
margin: 0 auto;
transform: translateX(-15%);

}

.thumbnail-image-wrapper {
display: flex !important;
justify-content: center;
padding: -30px;
margin-top: 20px;
 padding: 0 5px; /* Add padding between images */

}

.thumbnail-image-wrapper li {
width: auto;
margin: 0 5px;

}

.thumbnail-image-wrapper img {
margin-top: 71px;
width: 95%;
height: 164px;
object-fit: cover;
margin: 0 5px;
}

.thumbnail-image {
border: 2px solid transparent;
cursor: pointer;
opacity: 1;

transition: opacity 0.3s ease-in-out;
padding: 5px;
}



.thumbnail-image-blur {
  opacity: 0.3 
}

.slick-prev:before, .slick-next:before{
font-size: 0px;
}