.carousel-container {
    position: relative;
    width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.main-image {
 
  width: 800px;
  height: 532px;
    display: block;
  margin:  0 auto ;
}

.caption {
  text-align: center;
  margin-top: 10px;
  color: var(--gray-gray-500, #666);
text-align: center;
/* Nunito/16px/16px: Medium */
font-family: Nunito;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 24px */
}
.slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    cursor: pointer;
  }
.slick-prev,
.slick-next {
      font-size: 2rem;
  z-index: 1;
}
.slick-prev svg {
    position: absolute;
    left: -75px;
}
.slick-next svg{
    position: absolute;
    left: -7px;
    top:-9px;
}


.custom-thumb-dots {
  display: flex !important;
  justify-content: center;
  padding: -30px;
  margin-top: 20px;
}

.custom-thumb-dots li {
  width: auto;
  margin: 0 5px;
}

.custom-thumb-dots li img {
  margin-top: 71px;
  width: 246px;
  height: 164px;
  object-fit: cover;
}

.thumbnail-image {
  border: 2px solid transparent;
  cursor: pointer;
  opacity: 1;

  transition: opacity 0.3s ease-in-out;

}

.slick-active .thumbnail-image {
  border-color: magenta;
}
.thumbnail-image-blur {
    opacity: 0.3; /* Làm mờ ảnh nếu không tải được */
  }